body{
    background-color: lightblue;
    
}
.qr{
   width: 20%; 
   background-color:white ;
   margin: auto; 
   margin-top: 13%;
   padding: auto;
   padding-left: 20px; 
   padding-top: 20px;
   padding-bottom: 30px;
   border-radius: 20px;
   padding-right: -20px;
}
#img{
    width: 280px;
    border-radius: 6%;
    margin-top: 1px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }